<% include header.ejs %>
<% include nav.ejs %>
<body class="content brightness">
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
            <h1><span
                        class="glyphicon glyphicon-music
                        "></span> Browse Genres</h1>
            <br>
            <ul class="list-group">
                <% data.forEach(function(item){ %>
                <li class="list-group-item">
                    <a href="/genres/<%= item.Genre%>"><%= item.Genre %></a>
                </li>
                <% }) %>
            </ul>
        </div> <!-- /container -->
    </div>
</div>
<% include footer.ejs %>
</body>

</html>