
</body>
<script src="/javascripts/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- Custom styles for this template -->


<script>
    $(document).ready(function () {
        $('.nav-element').each(function () {
            var path = window.location.pathname;
            if (path.indexOf($(this).data('path')) >= 0) {
                $(this).addClass('active');
            }
        })
    });
</script>

