<footer class="footer" ng-controller="CurrentController">
    <div class="container">
        <div class="row">
            {{ currentSong.Title }}
        </div>
        <div class="row">
            {{ currentSong.Artist }} - {{ currentSong.Album }}
        </div>
    </div>
</footer>
<!-- Custom styles for this template -->