<!-- Navigation -->
<nav class="navbar navbar-collapse navbar-fixed-top" style="background: rgba(20,20,20,0.8)" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">MPD_CLIENT</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li  data-path="resume"><a href="/">Now Playing</a></li>
            <li  data-path="jobs"><a href="/playlist">Playlist</a></li>
            <li  data-path="applications"><a href="/status">MPD Status</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-controller="StatusController as status">
            <li ><a href="/previous" data-action="previous"><span
                            class="glyphicon glyphicon-backward"></span></a></li>
            <li ><a href="/pause" ng-show="playing" data-action="pause"><span
                            class="glyphicon glyphicon-pause"></span></a></li>
            <li ><a href="/play" ng-hide="playing" data-action="play"><span
                            class="glyphicon glyphicon-play"></span></a></li>
            <li ><a href="/next" data-action="next"><span
                            class="glyphicon glyphicon-forward"></span></a></li>
            <li ><a href="#" style="{{repeatStyle}}"><span
                            class="glyphicon glyphicon-random"></span></a></li>
            <li ><a href="#" style="{{randomStyle}}"><span
                            class="glyphicon glyphicon-repeat"></span></a></li>
        </ul>
    </div>
</nav>

