<% include header.ejs %>
<% include nav.ejs %>
<body class="content brightness" ng-controller="PlaylistController">
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
            <h1><span class="glyphicon glyphicon-music"></span> Playlist</h1>
            <br>
            <table class="table table-responsive">
                <thead>
                <td>Postition</td>
                <td>Artist</td>
                <td>Title</td>
                <td>Album</td>
                <td>Genre</td>
                <td>Time</td>
                </thead>
                <tbody>
                <tr ng-repeat="track in tracks  track by track.Id" ng-class="track.selected">
                    <td> {{ track.Pos }}</td>
                    <td>{{ track.Artist }}</td>
                    <td>{{ track.Title }}</td>
                    <td>{{ track.Album }}</td>
                    <td>{{ track.Genre }}</td>
                    <td> {{ Math.floor(track.Time/60)}}:{{ track.Time%60 }}</td>
                </tr>
                </tbody>
            </table>
        </div> <!-- /container -->
    </div>
</div>
</body>
</html>