<% include header.ejs %>
<% include nav.ejs %>
<body class="content brightness" ng-controller="StatusController">
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
            <h1><span
                        class="glyphicon glyphicon-search
                        "></span> Search</h1>
            <br>
        </div> <!-- /container -->
    </div>
</div>
<% include footer.ejs %>
</body>

</html>